<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<body>
		<div th:fragment="fotoModal" class="container-fluid row justify-content-center px-0 mx-0">		
			<div class="card bg-white text-success col-12 px-0 mx-0"> 					
				<div class="card-body">
					<div class="row">
						<div class="col-12">
							<canvas id="canvasModal"
									class="img-fluid rounded canvasModal"											 		
							 		style="background-color: white; border: 1px solid; border-color: #d0d1d3;">
							</canvas>
						</div>
					</div>
				</div>
			</div>			
		</div>			
	</body>	
	
</html>