<!-- /**
 * @author Julián Quenard *
 * @ 01-09-2021
 */ -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<body>
		<nav th:fragment="listarPreparaciones">
			<table class="table table-hover m-0 p-0">
				<thead>
					<tr>								
						<th class="text-nowrap fs-6 align-middle py-3" style="width: 5%; text-align: center;"></th>
						<th class="text-nowrap fs-6 align-middle py-3" th:text="#{text.receta.listar.nombre}">Nombre</th>
						<th class="text-nowrap fs-6 align-middle py-3" style="width:auto; text-align: center;" title="Favoritas"><i class="fa fa-star" aria-hidden="true"></i></th>
						<th th:if="${deviceType == 'browser'}" class="text-nowrap fs-6 align-middle py-3" style="width: 12%;" th:text="#{text.receta.listar.autor}">Autor</th>
						<th th:if="${deviceType == 'browser'}" class="text-nowrap fs-6 align-middle py-3" style="width: 12%; text-align: center;" th:text="#{text.receta.listar.esPublica}">Es pública</th>
						<th class="text-nowrap fs-6 align-middle py-3 ingredienteTitulo" style="width: 12%;  text-align: center; display: none"><i  class="fa fa-shopping-basket" aria-hidden="true"></i></th>
						<th th:if="${deviceType == 'browser'}" class="text-nowrap fs-6 align-middle py-3" style="width: 90px; text-align: center;" sec:authorize="hasRole('ROLE_USER')">EDITAR</th>
						<th th:if="${deviceType == 'browser'}" class="text-nowrap fs-6 align-middle py-3" style="width: 90px; text-align: center;" sec:authorize="hasRole('ROLE_USER')">ELIMINAR</th>
					</tr>
				</thead>
				<tbody>
					<tr class="recetaId" th:each="receta:${recetasMias}"
						th:if="${#strings.isEmpty(receta.preparacionEnRecetaNombre) == false}" 
						th:recetaId="${receta.id}" 
						th:tienePreparaciones="${#lists.size(receta.preparaciones)}" 
						th:cantidadDeIngredientes="${#lists.size(receta.ingredientes)}" 
						recetaFiltrada="false">
						<td class="text-nowrap fs-6 align-middle text-primary py-3" style="text-align: center;"	onclick="enviarRecetaId(this)">
							<i class="fa fa-eye mx-2" aria-hidden="true"></i>
							<div class="idProducto" th:each="ingrediente:${receta.ingredientes}" th:value="${ingrediente.productoId}" hidden></div>
							<div class="preparacion" th:each="preparacion:${receta.preparaciones}" th:value="${preparacion.recetaId}" hidden></div>
						</td>
						<td class="text-nowrap fs-6 align-middle py-3" th:text="${receta.nombre}" onclick="enviarRecetaId(this)"></td>
						<td class="text-nowrap fs-6 align-middle py-3" style="width:auto; text-align: center;">
							<a  class="btn btn-link esFavorita"
								th:esFavorita="${receta.isEsFavorita()}"
								th:href="${receta.isEsFavorita()} ? @{/receta/eliminaFavorita/} + ${receta.id} : @{/receta/agregaFavorita/} + ${receta.id}"
								th:title="${receta.esFavorita} ? 'Sacar de favoritas' : 'Agregar a favoritas'">
								<i th:class="${receta.isEsFavorita()} ? 'fa fa-star' : 'fa fa-star-o'" aria-hidden="true"></i>
							</a>							
						</td>
						<td th:if="${deviceType == 'browser'}" class="text-nowrap fs-6 align-middle py-3" th:text="${receta.autor}"></td>
						<td th:if="${deviceType == 'browser'}" class="text-nowrap fs-6 align-middle py-3" th:text="${receta.esPublica} ? 'Sí' : 'No'" style="text-align: center;">Sí</td>
						<td class="text-nowrap fs-6 align-middle py-3 ingredienteData" th:text="'0'" style="text-align: center; display: none"></td>
						<td th:if="${deviceType == 'browser'}" sec:authorize="hasRole('ROLE_USER')" style="text-align:center;">
							<a class="btn btn-celeste mt-2" th:href="@{/receta/form/} + ${receta.id}" title="Editar" style="width: 70px;">
								<i class="fa fa-pencil fs-5 mx-1" aria-hidden="true"></i>
							</a>
						</td>
						<td th:if="${deviceType == 'browser'}" sec:authorize="hasRole('ROLE_USER')" style="text-align:center">
							<a  th:if="${#lists.size(receta.preparaciones)} == 0"
								class="btn btn-danger mt-2"
								th:href="@{/receta/eliminar/} + ${receta.id}"
								onclick="return confirm('¿Seguro de Eliminar?')"
								title="Eliminar" 
								style="width: 70px;">
								<i class="fa fa-trash fs-5 mx-1" aria-hidden="true"></i>
							</a>
							<a  th:if="${#lists.size(receta.preparaciones)} > 0"
								class="btn btn-danger mt-2"
								data-bs-toggle="modal" 								
								data-bs-target="#eliminarConPreparacionesModal"
								title="Eliminar" 
								style="width: 70px;"
								th:idAEliminar="${receta.id}"
								onclick="llamarModalEliminar(this); return false;">
								<i class="fa fa-trash fs-5 mx-1" aria-hidden="true"></i>
							</a>							
						</td>						
					</tr>
				</tbody>
			</table>
			<div th:if="${page.totalPaginas} > 1" class="row justify-content-center">
				<div class="col-auto">
					<nav th:replace="layout/paginator-nav :: paginator"></nav>	
				</div>
			</div>
			<div id="eliminarConPreparacionesModal" class="modal fade" tabindex="-1" aria-labelledby="eliminarConPreparacionesModal" aria-hidden="true">
				<div class="row justify-content-center">
					<div class="modal-dialog modal-xl">
						<div class="modal-content" style="max-width: 500px;">
							<div class="modal-header text-primary row justify-content-center">
			  					<div class="col-auto">
									<span class="fw-bold fs-5 ms-3">
										Eliminando
									</span>
								</div>	
							</div>	
							<div class="modal-body pt-0 mt-2">
								<a  class="btn btn-danger mt-2 col-12 modalConPreparacion"									
									th:href="@{/receta/eliminarConPreparacion/}"
									onclick="return confirm('¿Seguro de Eliminar receta y preparaciones?')"
									title="Eliminar receta y preparaciones">Eliminar receta y preparaciones
								</a>
								<a  class="btn btn-danger mt-2 col-12 modalSinPreparacion"
									th:href="@{/receta/eliminar/}"
									onclick="return confirm('¿Seguro de conservar preparaciones y eliminar solo la receta?')"
									title="Eliminar solo receta">Conservar preparaciones, solo eliminar receta.
								</a>
							</div>										
						</div>
					</div>
				</div>
			</div>					
		</nav>
	</body>	
</html>
