<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<body>
		<nav th:fragment="listarVisibles">
			<table class="table table-hover m-0 p-0">
				<thead>
					<tr>
						<th class="text-nowrap fs-6 align-middle py-3" style="width: 5%; text-align: center;"></th>
						<th class="text-nowrap fs-6 align-middle py-3" th:text="#{text.receta.listar.nombre}">Nombre</th>
						<th th:if="${deviceType == 'browser'}" class="text-nowrap fs-6 align-middle py-3" style="width: 12%;" th:text="#{text.receta.listar.autor}">Autor</th>
						<th th:if="${deviceType == 'browser'}" class="text-nowrap fs-6 align-middle py-3" style="width: 12%; text-align: center;" th:text="#{text.receta.listar.esPublica}">Es pública</th>
						<th th:if="${deviceType == 'browser'}" class="text-nowrap fs-6 align-middle py-3" style="width: 90px; text-align: center;" sec:authorize="hasRole('ROLE_USER')">EDITAR</th>
						<th class="text-nowrap fs-6 align-middle py-3" style="width: 90px; text-align: center;" sec:authorize="hasRole('ROLE_USER')">ELIMINAR</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="receta:${recetasVisibles}" th:recetaId="${receta.id}" onclick="enviarRecetaId(this)">
						<td class="text-nowrap fs-6 align-middle text-primary py-3" style="text-align: center;">
							<i class="fa fa-eye mx-2" aria-hidden="true"></i>
						</td>
						<td class="text-nowrap fs-6 align-middle py-3" th:text="${receta.nombre}"></td>
						<td th:if="${deviceType == 'browser'}" class="text-nowrap fs-6 align-middle py-3" th:text="${receta.autor}"></td>
						<td th:if="${deviceType == 'browser'}" class="text-nowrap fs-6 align-middle py-3" th:text="${receta.esPublica} ? 'Sí' : 'No'" style="text-align: center;">Sí</td>
	
						<td th:if="${deviceType == 'browser'}" sec:authorize="hasRole('ROLE_USER')" style="text-align:center">
							<a class="btn btn-celeste" th:href="@{/receta/form/} + ${receta.id}" title="Editar" style="width: 70px;">
								<i class="fa fa-pencil fs-5 mx-1" aria-hidden="true"></i>
							</a>
						</td>
						<td th:if="${deviceType == 'browser'}"  sec:authorize="hasRole('ROLE_USER')" style="text-align:center">
							<a class="btn btn-danger"
							th:href="@{/receta/eliminar/} + ${receta.id}"
							onclick="return confirm('¿Seguro de Eliminar?')"
							title="Eliminar" style="width: 70px;">
								<i class="fa fa-trash fs-5 mx-1" aria-hidden="true"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
			<div th:if="${page.totalPaginas} > 1" class="row justify-content-center">
				<div class="col-auto">
					<nav th:replace="layout/paginator-nav :: paginator"></nav>
				</div>
			</div>		
		</nav>
	</body>
</html>
