<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layout/layout :: head"></head>
	<body>
		<header th:replace="layout/layout :: header"></header>	
		<div class="container-fluid pt-0 pb-1 px-1 m-0 row justify-content-center">
			<div class="card p-0 m-0 text-center bg-light">
				<div class="card-header text-start">
					<div class="row align-middle">
						<span class="fs-3 fw-bold" th:text="${titulo}"></span>
					</div>	
				</div>				
				<div class="card-body">
					<form th:action="@{/login}" method="post">
						<div class="container-fluid px-0">
							<div class="row justify-content-center">
								<div class="form-group col col-sm col-md-9 col-lg-6 col-xl-5 my-1">
									<input type="text" name="username" id="username" class="form-control ds-input fs-5" placeholder="username" autofocus required/> 
								</div>
							</div>	
							<div class="row justify-content-center">	
								<div class="form-group col col-sm col-md-9 col-lg-6 col-xl-5 my-1">
									<input type="password" name="password" id="password" class="form-control ds-input fs-5" placeholder="password" required/> 
								</div>
							</div>	
							<div class="row justify-content-center">	
								<div class="form-group col col-sm col-md-9 col-lg-6 col-xl-5 mt-3 mb-1">
									<input type="submit" class="col-12 btn btn-primary btn-block fs-4" th:value="#{text.layout.iniciarSesion}"> 
								</div>
							</div>
						</div>						
					</form>		
					<div class="container-fluid px-0">
						<div class="row justify-content-center">	
							<div class="form-group col col-sm col-md-9 col-lg-6 col-xl-5 mt-1 mb-2">
								<a class="col-12 btn btn-secondary btn-block fs-4"  th:href="@{/usuario/form}" th:text="#{text.layout.nuevoUsuario}"></a> 
							</div>
						</div>
					</div>			
				</div>
			</div> 
			<footer th:replace="layout/layout :: footer"></footer>
		</div>	
	</body>
</html>